reset * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: var(--background);
}
img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
main {
  margin: 20px;
}

:root {
  --background: #02010f;
  --text: #cacacb;
}
@font-face {
  font-family: "Helvetica";
  src:
    local("Helvetica"),
    url("../fonte/Helvetica.woff") format("woff");
}
h1 {
  font-family: "Helvetica";
  font-size: 24px;
  color: var(--text);
}
p {
  font-family: "Helvetica";
  font-size: 15px;
  color: var(--text);
}
button {
  font-family: "Helvetica";
  font-size: 15px;
  color: var(--text);
}
