---
import Cards from "../components/Cards.astro";
import SpesieltCont from "../components/Spesielt_cont.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
import Pictures from "../components/Pictures.astro";
import Button from "../components/Button.astro";
import MadeForCont from "../components/Made_for_cont.astro";
import GlobalCont from "../components/Global_cont.astro";
---

<Mainlayout title="Spotify">
  <Pictures />
  <div>
    <div class="innhold">
      <Button variant="primary" size="small">Alle</Button>
      <Button variant="secondary" size="small">Musikk</Button>
      <Button variant="secondary" size="small">Podcast</Button>
    </div>
    <Cards />

    <SpesieltCont info="Spesielt for deg" />
    <MadeForCont info="Ha en fin dag!" />
    <GlobalCont info="Top 50" />
  </div>
</Mainlayout>
<style>
  .innhold {
    margin: 10px;
  }
</style>
