---
import Cards from "../components/Cards.astro";
import SpesieltCont from "../components/Spesielt_cont.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
import Pictures from "../components/Pictures.astro";
import Button from "../components/Button.astro";
---

<Mainlayout title="Spotify">
  <Pictures />
  <div>
    <div class="innhold">
      <Button variant="primary" size="small">Alle</Button>
      <Button variant="secondary" size="small">Musikk</Button>
      <Button variant="secondary" size="small">Podcast</Button>
    </div>
    <Cards />
    <h1>Laget for spesielt for deg</h1>
    <SpesieltCont />
    <h1>Ha en fin dag!</h1>
    <SpesieltCont />
    <h1>Populære albumer</h1>
    <SpesieltCont />
  </div>
</Mainlayout>
<style>
  .innhold {
    margin: 10px;
  }
</style>
