---
import Cards from "../components/Cards.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
---

<Mainlayout title="Side to">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae nulla
    tempore voluptates commodi dolor eos nam ratione error, unde nobis!
  </p>
</Mainlayout>
