---
import Card from "./Card.astro"
---
<Card header="Produkt 1">
        <p>Her er min slot</p>
        <button>kjøp</button>
      </Card>
      <Card header="Produkt 2">
        <p>Her er min slot</p>
        <button>kjøp</button>
      </Card>
      <Card header="Produkt 3">
        <p>Her er min slot</p>
        <button>kjøp</button>
      </Card>