---

---

<section>
  <p>Logo</p>
  <p>Meny</p>
  <p>Meny</p>
  <p>Meny</p>
</section>

<style>
  section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  p:hover {
    opacity: 50%;
  }
  p {
    text-transform: uppercase;
    text-decoration: underline;
  }
</style>
