---
const { img, text, made_for } = Astro.props;
---

<article>
  <div class="img_container">
    <img src={img} alt="bilde" />
    <h2>{made_for}</h2>
  </div>
  <p>{text}</p>
</article>
<style>
  article:hover {
    opacity: 50%;
  }
  .img_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .img_container img {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
  }
  .img_container h2 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgba(220, 74, 210, 0.498);
  }
</style>
