---
import MadeFor from "./Made_for.astro";
const { info } = Astro.props;
---

<h1>{info}</h1>
<div class="flex">
  <MadeFor
    img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
    text="Lady Gaga, Rihannah, The Weekend"
    made_for="Sunny day"
  />
  <MadeFor
    img="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill"
    text="Tobias Rahim, Kendric Lamar, Billie Eilish"
    made_for="Cloudy day"
  />
  <MadeFor
    img="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill"
    text="Hans Philip, Mumble, Millie"
    made_for="Rainy day"
  />
  <MadeFor
    img="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill"
    text="Julius, Anniken, Henrik"
    made_for="Stormy day"
  />
  <MadeFor
    img="https://via.assets.so/album.png?id=5&q=95&w=360&h=360&fit=fill"
    text="Bad Bunny, Jung, URO"
    made_for="Angry day"
  />
</div>
<style>
  .flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
</style>
