---
import Picture from "./Picture.astro";
---

<div class="container">
  <Picture
    img="https://via.assets.so/album.png?id=9&q=95&w=360&h=360&fit=fill"
  />
  <Picture
    img="https://via.assets.so/album.png?id=10&q=95&w=360&h=360&fit=fill"
  />
  <Picture
    img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
  />
  <Picture
    img="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill"
  />
  <Picture
    img="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill"
  />
  <Picture
    img="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill"
  />
  <Picture
    img="https://via.assets.so/album.png?id=5&q=95&w=360&h=360&fit=fill"
  />
  <Picture
    img="https://via.assets.so/album.png?id=6&q=95&w=360&h=360&fit=fill"
  />
  <Picture
    img="https://via.assets.so/album.png?id=7&q=95&w=360&h=360&fit=fill"
  />
  <Picture
    img="https://via.assets.so/album.png?id=9&q=95&w=360&h=360&fit=fill"
  />
  <Picture
    img="https://via.assets.so/album.png?id=9&q=95&w=360&h=360&fit=fill"
  />
</div>
