---
import Spesielt from "./Spesielt.astro";
---

<div class="flex">
  <Spesielt
    img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
    text="Lady Gaga, Rihannah, The Weekend"
  />
  <Spesielt
    img="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill"
    text="Tobias Rahim, Kendric Lamar, Billie Eilish"
  />
  <Spesielt
    img="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill"
    text="Hans Philip, Mumble, Millie"
  />
  <Spesielt
    img="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill"
    text="Julius, Anniken, Henrik"
  />
  <Spesielt
    img="https://via.assets.so/album.png?id=5&q=95&w=360&h=360&fit=fill"
    text="Bad Bunny, Jung, URO"
  />
</div>
<style>
  .flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
</style>
